################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Lesson08/.vs/Lesson08
/.vs/*
/.vs/TMSLessons/v17
/arsalfimov/Lesson08/TasksLesson8/.vs
/arsalfimov/Lesson08/TasksLesson8/TasksLesson8/obj
/EvgenBy/Нome work 8/Нome work 8/obj
/EvgenBy/Нome work 8/.vs/Нome work 8
BelkL1ne/Homework 8/.vs
BelkL1ne/Homework 8/Homework 8/obj
/YuriAsm/HomeWork08/.vs/HomeWork08
/YuriAsm/HomeWork08/HomeWork08/obj
/kirylnovik/HW8/obj/Debug/net8.0
/kirylnovik/HW8/obj/Release/net8.0
/Samples/Lesson08/obj/*
/Samples/Lesson08/.vs/*
/Dobronom/HomeWork08/.vs
/Dobronom/HomeWork08/obj
/ToffeeGalka/HomeWork8/.vs/HomeWork8
/ToffeeGalka/HomeWork8/obj
/Lesson08/obj
/ToffeeGalka/HomeWork8/bin
/MaksimKez/HW8/HW8/.vs/HW8
/MaksimKez/HW8/HW8/HW8/obj
/.idea/.idea.tms-net15-onl.dir/.idea
/PavelDev91/Homework08/.vs
/PavelDev91/Homework08/obj
/ToffeeGalka/HomeWork8/.vs
/YuriAsm/HomeWork08/.vs
/IraStef/DZLesson8/.vs
/IraStef/DZLesson8/DZLesson8/obj
/arsalfimov/.vs
/sommarsonne/HomeworkLesson8/obj
/sommarsonne/HomeworkLesson8/.vs
/sommarsonne/HomeworkLesson8/bin
DenisIlimbaev/HomeWork8/.vs
DenisIlimbaev/HomeWork8/HomeWork8/obj
MaksimKez/HW8/HW8/.vs
MaksimKez/HW11/HW11/HW11/obj
MaksimKez/HW11/HW11/.vs
MaksimKez/HW11/HW11/HW11/bin
