################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Lesson08/.vs/Lesson08
/.vs/*
/.vs/TMSLessons/v17
/arsalfimov/Lesson08/TasksLesson8/.vs
/arsalfimov/Lesson08/TasksLesson8/TasksLesson8/obj
/EvgenBy/Нome work 8/Нome work 8/obj
/EvgenBy/Нome work 8/.vs/Нome work 8
BelkL1ne/Homework 8/.vs
BelkL1ne/Homework 8/Homework 8/obj
/YuriAsm/HomeWork08/.vs/HomeWork08
/YuriAsm/HomeWork08/HomeWork08/obj
/kirylnovik/HW8/obj/Debug/net8.0
/kirylnovik/HW8/obj/Release/net8.0
/Samples/Lesson08/obj/*
/Samples/Lesson08/.vs/*
/Dobronom/HomeWork08/.vs
/Dobronom/HomeWork08/obj
/ToffeeGalka/HomeWork8/.vs/HomeWork8
/ToffeeGalka/HomeWork8/obj
/Lesson08/obj
/ToffeeGalka/HomeWork8/bin
/MaksimKez/HW8/HW8/.vs/HW8
/MaksimKez/HW8/HW8/HW8/obj
/.idea/.idea.tms-net15-onl.dir/.idea
/PavelDev91/Homework08/.vs
/PavelDev91/Homework08/obj
/ToffeeGalka/HomeWork8/.vs
/YuriAsm/HomeWork08/.vs
/IraStef/DZLesson8/.vs
/IraStef/DZLesson8/DZLesson8/obj
/arsalfimov/.vs
/sommarsonne/HomeworkLesson8/obj
/sommarsonne/HomeworkLesson8/.vs
/sommarsonne/HomeworkLesson8/bin
DenisIlimbaev/HomeWork8/.vs
DenisIlimbaev/HomeWork8/HomeWork8/obj
MaksimKez/HW8/HW8/.vs
/Samples/Lesson10/Lesson10Test/.idea
/Samples/Lesson10/Lesson10Test/Lesson10TestQ4/obj
/Samples/Lesson10/Lesson10Test/Lesson10TestQ6/bin
/Samples/Lesson10/Lesson10Test/Lesson10TestQ8/bin
/Samples/Lesson10/Lesson10Test/Lesson10TestQ8/obj
/arsalfimov/Lesson10/.vs/Lesson10/FileContentIndex
/arsalfimov/Lesson10/.vs/Lesson10/v17
/arsalfimov/Lesson10/obj
/arsalfimov/TasksLesson8/obj
/Samples/Lesson11/Lesson11/obj
/Samples/Lesson11/Lesson11Delegate/obj
/Samples/Lesson11/Lesson11WinForm/obj
/Samples/Lesson10/Lesson10Test/Lesson10TestQ6/obj/Release/net8.0
/arsalfimov/Lesson10/bin/Debug/net8.0
/EvgenBy/Lesson10/Lesson10/obj
/EvgenBy/Lesson10/.vs/Lesson10
/YuriAsm/Lesson10/Lesson10/.vs/Lesson10
/YuriAsm/Lesson10/Lesson10/Lesson10/obj/Debug/net8.0
/kirylnovik/Lesson10/obj/Debug/net8.0
/PavelDev91/.vs
/PavelDev91/HomeWork10/.vs/HomeWork10
/IraStef/DZLesson8/DZLesson8/bin/Debug/net8.0
/IraStef/Lesson10/Lesson10work/.vs/Lesson10work
/IraStef/Lesson10/Lesson10work/Lesson10work/obj
/IraStef/Lesson10/Lesson10work/Lesson10work/bin/Debug/net8.0
/ToffeeGalka/Lesson10/.vs/Lesson10
/ToffeeGalka/Lesson10/bin/Debug/net8.0-windows
/ToffeeGalka/Lesson10/obj
/YuriAsm/Lesson10/ConsoleApp1/.vs
/YuriAsm/Lesson10/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0
/YuriAsm/Lesson10/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0
/YuriAsm/Lesson10/ConsoleApp1/ConsoleApp1/obj
/YuriAsm/Lesson10/Lesson10/Lesson10/obj
/YuriAsm/Lesson10/Lesso10/.vs/Lesso10/FileContentIndex
/YuriAsm/Lesson10/Lesso10/.vs/Lesson10/v17
/YuriAsm/Lesson10/Lesso10/Lesso10/bin/Debug/net8.0
/YuriAsm/Lesson10/Lesso10/Lesso10/obj/Debug/net8.0/ref
/YuriAsm/Lesson10/Lesso10/Lesso10/obj/Debug/net8.0/refint
/YuriAsm/Lesson10/Lesso10/Lesso10/obj/Debug/net8.0
/YuriAsm/Lesson10/Lesso10/Lesso10/obj
/IraStef/DZLesson11/.vs
/IraStef/DZLesson11/DZLesson11/bin/Debug/net8.0
/IraStef/DZLesson11/DZLesson11/obj
/IraStef/Lesson10/Lesson10work/.vs/ProjectEvaluation
/BelkL1ne/Homework 8/Homework8/obj
/BelkL1ne/Homework 8/HomeWork8Interface/obj/Debug/net8.0
/BelkL1ne/Homework 8/HomeWork8Interface/obj/Release/net8.0
/Samples/Lesson10/Lesson10Work/Lesson10Work/obj/Debug/net8.0
/Samples/Lesson11/Lesson11Attributes/obj/Debug/net8.0
/Samples/Lesson11/Lesson11Lambdas/obj/Debug/net8.0
/Samples/Lesson11/Lesson11Lambdas/obj/Release/net8.0
/Samples/Lesson10/Lesson10Work/Lesson10Work/obj/Release/net8.0
/PavelDev91/HomeWork10/obj/Release
/Samples/Lesson11/Lesson11Attributes/obj/Release/net8.0
/YuriAsm/Lesson10/.vs/Lesson10/DesignTimeBuild
/YuriAsm/Lesson10/.vs/Lesson10/FileContentIndex
/YuriAsm/Lesson10/.vs/Lesson10
/YuriAsm/Lesson10/.vs/ProjectEvaluation
/YuriAsm/Lesson10/HomeWork10/bin/Debug/net8.0
/YuriAsm/Lesson10/HomeWork10/obj
/YuriAsm/Lesson10/Lesso10/bin/Debug/net8.0
/YuriAsm/Lesson10/Lesso10/obj/Debug/net8.0
/YuriAsm/Lesson10/Lesso10/obj/Release/net8.0
/YuriAsm/Lesson10/Lesso10/obj


