################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lesson08/.vs/Lesson08
/.vs/slnx.sqlite
/.vs/tms-net15-onl/v17/.wsuo
/.vs/VSWorkspaceState.json
/Lesson08/obj/Debug/net8.0
/Lesson08/obj/Lesson08.csproj.nuget.dgspec.json
/Lesson08/obj/Lesson08.csproj.nuget.g.props
/Lesson08/obj/Lesson08.csproj.nuget.g.targets
/Lesson08/obj/project.assets.json
/Lesson08/obj/project.nuget.cache
/Lesson08/bin/Debug/net8.0/Lesson08.deps.json
/Lesson08/bin/Debug/net8.0/Lesson08.dll
/Lesson08/bin/Debug/net8.0/Lesson08.exe
/Lesson08/bin/Debug/net8.0/Lesson08.pdb
/Lesson08/bin/Debug/net8.0/Lesson08.runtimeconfig.json
/.vs/TMSLessons/v17
/arsalfimov/Lesson08/TasksLesson8/.vs/TasksLesson8
/arsalfimov/Lesson08/TasksLesson8/TasksLesson8/obj
/EvgenBy/Нome work 8/Нome work 8/obj
/EvgenBy/Нome work 8/.vs/Нome work 8
