@model MeetingRoomViewModel
@{
    ViewData["Title"] = "Home Page";
    var model = Model;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Id:@Model.Id </p>
    <p>Name:@Model.Name </p>
    <p>MaxPeople:@Model.MaxPeople </p>
    <p>Duration:@Model.Duration </p>
</div>
