@{
    ViewData["Title"] = "Meetig Room"; 
}
<link rel="stylesheet" href="../css/MeetingRoom.css" type="text/css" />
<div class="Container">
        <div class="exR">
            <div class="inR">
                <ul>
                    <li>Vasa Petrov</li>
                </ul>
            </div>
        </div>
    </div>
