@{
    ViewData["Title"] = "Meetig Room"; 
}
<style>
    .exR {
        margin-left: auto;
        margin-right: auto;
        width: 30em;
        height: 20em;
        border: solid;
        border-color: black;
        box-shadow: -2px 65px 42px 7px rgba(115,112,112,0.81);
        -webkit-box-shadow: -2px 65px 42px 7px rgba(115,112,112,0.81);
        -moz-box-shadow: -2px 65px 42px 7px rgba(115,112,112,0.81);
        border-radius: 7px;
        border-width: 10px;
    }

    Container {
        margin: 180px;
    }
    .inR {
        border: solid;
        border-color: grey;
        height: 19.7em;
        background: #9d9898;
        background: linear-gradient(318deg,#9d9898 0%, #f6f6f6 80%);
        background: -webkit-linear-gradient(318deg,#9d9898 0%, #f6f6f6 80%);
        background: -moz-linear-gradient(318deg,#9d9898 0%, #f6f6f6 80%);
    }
</style>
<div class="Container">
        <div class="exR">
            <div class="inR">
                <ul>
                    <li>Vasa Petrov</li>
                </ul>
            </div>
        </div>
    </div>
