@{
    ViewData["Title"] = "My Test View";
}
@model hw16.Models.MeetingSettings

<div>
    <p>Meeting Room Settings</p>
    <ul>
        <li>Max people: @Model.MaxPeople</li>
        <li>Max time: @Model.MaxTime</li>
    </ul>
</div>