<form method="post">
    <p>
        <label>Имя и фамилия участника</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Отчество участника</label><br />
        <input type="text" name="LastName" />
    </p>
    <p>
        <label>Статус участника</label><br />
        <select name="Status">
        <option value="Organaizer">Организатор</option>
        <option value="Member">Участник</option>
       </select>
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>